body {
    background-color: bisque;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(117, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
h2 {
    text-align: left;
    font-size: 30px;
    color: rgb(117, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
p {
    text-align: center;
    font-size: 30px;
    color: rgb(117, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
a{
    text-align: left;
    font-size: 20px;
    color: rgb(190, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
ul{
    text-align: left;
    font-size: 30px;
    color: rgb(133, 9, 9);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
img{
    height: 20em;
    border-radius: 20%;
    display: block;
    margin: auto;
}
.tableContainer{
    width: 600px;  
    height: 300px; 
    overflow: auto;
    margin: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    position: sticky;
    top: 0;
    background: rgb(251, 187, 132);
    z-index: 2;
}